$purple: #17023B;

body {
    display: flex;
}

nav {
    color: $purple;
    background-color: #C3D3F4;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    user-select: none;

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        a {
            text-decoration: none;
            &:visited {
                color: $purple;
            }
            &:active {
                color: $purple;
            }
        }
    }

    .mainlist {
        margin : 1vh 0 0 2vw;
        width: 80%;

        >li {
            font-size: 1.2vw;
            font-weight: bold;
            margin-top: 2vh;
            transition: 0.3s;
        }
    }

    .sublist {
        ul {
            margin : 1vh 0 0 1vw;
            overflow: hidden;
            li {
                font-size: 1vw;
                font-weight: normal;
                margin-bottom: 1vh;
                // display: none;
                transform: translateY(0);
                transition: 0.3s;
            }
        }
    }
}

.hidden {
    display: none;
}


main {
    color: #C3D3F4;
    background-color: #17023B;
    flex: 5;
}