$purple: #17023B;
$blue: #C3D3F4;
$red: #C71717;

$title: 4vw;
$text: 1.1vw;
$legend: 0.9vw;

body {
    background-color: $purple;
}

nav {
    position: fixed;
    color: $purple;
    background-color: $blue;
    width: 20vw;
    height: 100vh;
    overflow-y: auto;
    user-select: none;

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        a {
            text-decoration: none;
            &:visited {
                color: $purple;
            }
            &:active {
                color: $purple;
            }
            &:hover {
                transition: 0.1s;
                color: $red;
            }
        }

        img {
            width: 5vw;
        }
    }

    .mainlist {
        margin : 1vh 0 0 2vw;
        width: 80%;
        >li {
            font-size: 1.2vw;
            font-weight: bold;
            margin-top: 2vh;
        }
    }

    .dropdown {
        cursor: pointer;
    }

    .sublist {
        ul {
            position: relative;
            margin : 1vh 0 0 1vw;
            li {
                font-size: 1vw;
                font-weight: normal;
                margin-bottom: 1vh;
            }
        }
    }
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}


main {
    margin-left: 20vw;
    overflow-y: scroll;
    color: $blue;
    display: flex;
    justify-content: center;
    section {
        margin-top: 20vh;
        margin-bottom: 5vh;
        width: 65vw;
        h1, h2 {
            text-transform: uppercase;
            position: relative;
        }
        h1 {
            z-index: 2;
            font-size: $title;
            margin: 0;
        }
        h2 {
            z-index: 1;
            margin: -2vw 0 2vw 2vw;
            color: $red;
            font-size: 3vw;
        }

        p {
            font-size: $text;
            text-align: justify;
        }
    }

    legend {
        font-size: $legend;
        margin-top: 10vh;
    }
}

button {
    user-select: none;
    color: $purple;
    background: $blue;
    font-size: $text;
    border: $blue 2px solid;
    border-radius: $text/2;
    padding: $text/2;
    cursor: pointer;
    transition: 0.2s;
    &:hover, &:focus {
        outline: $purple;
        color: $blue;
        background: none;
    }
}

#cookie {
    position: fixed;
    top: 2vh;
    right: 1vw;
    background: $blue;
    border-radius: 0.8vw;
    padding: 2vh 2vw;
    width: 20vw;
    color: $purple;
    font-size: $legend;

    button {
        font-size: $legend;
        background: $purple;
        color: $blue;
        border-color: $purple;
        &:hover, &:focus {
            outline: $purple;
            color: $purple;
            background: none;
        }
    }
}